main {
  margin: 1.5rem min(2rem, 10vw);
  padding-block: 2rem;
  padding-inline: max(2rem, 6vw);
}

.timer {
  padding: 0 10px 10px 10px;
}

.score {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  padding: 25px 10px;
  align-items: center;

  .card {
    text-align: center;
    color: #000000bf;
    font-size: 2rem;

    .count {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      margin: auto;
      margin-bottom: 0.25rem;
      min-width: 80px;
      padding-inline: 6px;
      color: #000;
      font-weight: bold;
      font-size: 1.275em;
      height: 80px;
      background-color: #fff;
    }

    p:last-child {
      font-size: 0.475em;
    }

    &.correct,
    &.wrong {

      &.correct {
        .count {
          color: green;
        }
      }

      &.wrong {
        .count {
          color: red;
        }
      }
    }
  }
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px 25px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 0.5rem;
  max-height: 215px;

  .words {
    display: flex;
    justify-content: space-between;
    flex: 1 0 50%;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 155px;
    &::-webkit-scrollbar {
      display: none;
    }
    app-wordtest:last-child {
      margin-right: auto;
    }
  }

  &:has(.mask) {
    padding: 0;
    .words {
      opacity: 0.5;
    }
  }

  .mask {
    height: 195px;
    width: 100%;
    z-index: 2;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.03);
    display: flex;
    justify-content: center;
    align-items: center;

    .try-again-btn {
      cursor: pointer;
      font-size: 1.5rem;
      letter-spacing: 0.5px;
      padding: 0.5rem 0.75rem;
      border-radius: 0.5rem;
      outline: none;
      border: none;
      color: #ffd000;
      background-color: #1c1c1c;

      &:hover {
        box-shadow: 0 0 3px 0.15rem #ffd000;
        // box-shadow: 0 0 0 0.094rem #ffd000;
        background-color: #111111;
      }

      &:focus-visible {
        box-shadow: 0 0 0 0.2rem #ffd001;
        box-shadow: 0 0 0 0.1.3rem #ffd001;
        background-color: #111111;
      }
    }
  }
}
